

  <h1>Error Page Admin</h1>
  <p>An error occurred.</p>
  <button onclick="godashboard()">Go to Home Page</button>

  <script>
      function godashboard() {
          window.location.href = "/admin/category";
      }
  </script>
